<h6 class="my-4">Topics</h6>
<hr>
<div *ngFor="let topic of topics">
    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link">{{topic.name}}</a>
    </div>
</div>

<!--
<h6 class="my-4">Topics</h6>
<hr>
<div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link">Movies</a>
    <a class="nav-link">Books</a>
    <a class="nav-link">Games</a>
    <a class="nav-link">Education</a>
    <a class="nav-link">E-commerce</a>
    <a class="nav-link">Android Applications</a>
</div>
-->