<div class="container-fluid">
    <div class="row justify-content-center">
        <!-- topics -->
        <div class="col-lg-2">
            <div class=" aff-right">
                <div class="ui-block">
                    <h6 class="my-4">Topics</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link">Movies</a>
                        <a class="nav-link">Books</a>
                        <a class="nav-link">Games</a>
                        <a class="nav-link">Education</a>
                        <a class="nav-link">E-commerce</a>
                        <a class="nav-link">Android Applications</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- testing question api -->
        <div class="col-lg-7" *ngFor="let question of questions">
            <!-- question info -->
            <div class="ui-block">
                <article class="post">
                    <div class="m-link">
                        <a routerLink="" class="question-title">
                            <h4>{{question.name}}</h4>
                        </a>
                    </div>
                    <div class="post__author author inline-items">
                        <img src="https://i.imgur.com/TRdKQjq.jpeg" alt="author">
                        <div class="author-date">
                            <a class="h6 user">{{question.userName}}</a>
                            <div class="date">
                                <time class="published">
                                    {{question.duration}}
                                </time>
                            </div>
                        </div> 
                    </div>
                    <p>{{question.description}}</p>
                    <div class="post-additional-info inline-items">
                        <p>upwote comments downwote icons</p>
                    </div>
                </article>
            </div>
        </div>

        <!-- questions 
        <div class="col-lg-7">
            <!- first question 
            <div class="ui-block">
                <article class="post">
                    <div class="m-link">
                        <a routerLink="" class="question-title">
                            <h4>How to do something instead of something?</h4>
                        </a>
                    </div>
                    <div class="post__author author inline-items">
                        <img src="https://i.imgur.com/TRdKQjq.jpeg" alt="author">
                        <div class="author-date">
                            <a class="h6 user">Dipendra Singh</a>
                            <div class="date">
                                <time class="published" datetime="2004-07-24T18:18">
                                    Answered 2h ago
                                </time>
                            </div>
                        </div> 
                    </div>
                    <p>I would like to ask you how I can do something instead of something to get 
                        something like that? I appreciate every answer, thanks in advance.
                    </p>
                    <div class="post-additional-info inline-items">
                        <p>upwote comments downwote icons</p>
                    </div>
                </article>
            </div>
            <!- second question 
            <div class="ui-block">
                <article class="post">
                    <div class="m-link">
                        <a routerLink="" class="question-title">
                            <h4>How to do something instead of something?</h4>
                        </a>
                    </div>
                    <div class="post__author author inline-items">
                        <img src="http://i.stack.imgur.com/Dj7eP.jpg" alt="author">
                        <div class="author-date">
                            <a class="h6 user">Dipendra Singh</a>
                            <div class="date">
                                <time class="published" datetime="2004-07-24T18:18">
                                    Answered 2h ago
                                </time>
                            </div>
                        </div> 
                    </div>
                    <p>I would like to ask you how I can do something instead of something to get 
                        something like that? I appreciate every answer, thanks in advance.
                    </p>
                    <div class="post-additional-info inline-items">
                        <p>upwote comments downwote icons</p>
                    </div>
                </article>
            </div>
        </div> -->
        <!-- improve your feed -->
        <div class="col-lg-3">
            <div class=" q-wid">
                <div class="ui-block">
                    <h6 class="my-4">Improve Your Feed</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab"  aria-orientation="vertical">
                        <a class="nav-link">Ask your first question</a>
                        <a class="nav-link">Fill out your profile</a>
                        <a class="nav-link">Answer a question</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of improve your feed -->
    </div>
</div>
