<div class="container-fluid">
    <div class="row justify-content-center">

        <!-- topics -->
        <div class="col-lg-2">
            <div class=" aff-right">
                <div class="ui-block">
                    <app-topic-list></app-topic-list>
                </div>
            </div>
        </div>
        <!-- end oftopics -->
        
        <!-- questions -->
        <div class="col-lg-7" >
            <app-question-list></app-question-list>
        </div>

        <!-- improve your feed -->
        <div class="col-lg-3">
            <div class=" q-wid">
                <div class="ui-block">
                    <app-feed></app-feed>
                </div>
            </div>
        </div>
        <!-- end of improve your feed -->
    </div>
</div>
