<div class="crete-question">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <!-- ADD TOPIC -->
            <button class="btn btn-primary" (click)="open(content)">Add Topic</button>
            <!-- template -->
            <ng-template #content let-c="close" let-d="dismiss">
                <!-- header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Create Topic</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <form [formGroup]="topicForm" (ngSubmit)="saveTopic()">
                        <div class="form-group">
                            <div class="form-label"><label for="createTopicName">Name</label></div>
                            <input type="text" class="form-control" [formControlName]="'createTopicName'" required>
                        </div>
                        <div class="form-group">
                            <div class="form-label"><label for="createTopicDescription">Description</label></div>
                            <textarea class="form-control" rows="3" [formControlName]="'createTopicDescription'" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Create topic</button>
                    </form>
                </div>
            </ng-template>
            <!-- END OF ADD TOPIC -->

            <form [formGroup]="questionForm" (ngSubmit)="saveQuestion()">
                <!-- topic -->
                <label for="topics">Select Topic</label>
                <div class="form-inline">
                    <!-- select topic -->
                    <div class="form-group">
                        <select class="form-control" [formControlName]="'topicName'" required>
                            <option value="" selected disabled>Select Topic</option>
                            <option *ngFor="let topic of topics">{{topic.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- name -->
                <div class="form-group">
                    <label for="name">Question Title</label>
                    <input type="text" class="form-control" [formControlName]="'name'" required>
                </div>
                <!-- description -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="5" [formControlName]="'description'" required></textarea>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Add Question</button>
                </div>
            </form>
        </div>
    </div>
</div>
