.logo-text {
    font-family: Georgia, 'Times New Roman', Times, serif;     
    font-weight: 700;
    font-size:200%;
    color: rgb(185, 42, 42);
    cursor: pointer;
    text-decoration: none;  
}

.sign-in {    
    background-color: rgb(185, 42, 42);
    border-color: rgb(185, 42, 42);
    color: aliceblue;
    border-radius: 16px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 3px 16px; 
    text-decoration: none;
}

.sign-in:hover {
    cursor: pointer;
    opacity: 0.8;
}