<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <!-- logo -->
        <div class="flex-grow-1">
            <a routerLink="" class="logo-text">Quora Clone</a>
        </div>
        <!-- profile -->
        <div *ngIf="isLoggedIn">
            <div *ngIf="imageUri">
                <div ngbDropdown>
                    <img class="profile" src={{imageUri}} 
                        id="dropdownConfig" ngbDropdownToggle>
                    <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                        <button ngbDropdownItem routerLink="/user-profile">Profile</button>
                        <button ngbDropdownItem (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!imageUri">
                <div ngbDropdown>
                    <img class="profile" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRionTtxUfdanGm9HhxO8Y81zfBuKeAiaDwrw&usqp=CAU" 
                        id="dropdownConfig" ngbDropdownToggle>
                    <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                        <button ngbDropdownItem routerLink="/user-profile">Profile</button>
                        <button ngbDropdownItem (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- sign in -->
        <div *ngIf="!isLoggedIn">
            <div class="flex-grow-1 float-right">        
                <a routerLink="/sign-in" class="float-right sign-in mr-2">Sign In</a>
            </div>
        </div>
        <!-- add question -->
        <div *ngIf="isLoggedIn">
            <div class="flex-grow-1 float-right">        
                <a routerLink="/create-question" class="float-right sign-in mr-2">Add Question</a>
            </div>
        </div>
    </nav>  
</header>