<div class="register">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h5>A place to share knowledge and better understand the world</h5>
                </div>
                <div class="card-group">
                    <!-- Left Card -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Sign Up -->
                            <h5 class="card-title">Sign Up</h5>
                            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                                <!-- username -->
                                <div class="form-group">
                                    <div class="form-label"><label for="username">Username</label></div>
                                    <input type="text" class="form-control" [formControlName]="'username'" required>
                                </div>
                                <!-- email -->
                                <div class="form-group">
                                    <div class="form-label"><label for="email">Email</label></div>
                                    <input type="email" class="form-control" [formControlName]="'email'" email required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <!-- password -->
                                <div class="form-group">
                                    <div class="form-label"><label for="password">Password</label></div>
                                    <input type="password" class="form-control" [formControlName]="'password'" required>
                                    <small id="passwordHelp" class="form-text text-muted">Don't share your password with anyone else.</small>
                                </div>
                                <!-- button -->
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </form>
                            <!-- Sign Up End -->
                        </div>
                    </div>

                    <!-- Right Card -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Login -->
                            <h5 class="card-title">Login</h5>
                            <form [formGroup]="loginForm" (ngSubmit)="login()">
                                <!-- username -->
                                <div class="form-group">
                                    <input type="text" class="form-control" [formControlName]="'username'" placeholder="Username">
                                </div>
                                <!-- password -->
                                <div class="form-group">
                                    <input type="password" class="form-control" [formControlName]="'password'" placeholder="Password">
                                    <small id="passwordHelp" class="form-text text-muted">Don't share your password with anyone else.</small>
                                </div>
                                <!-- button -->
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                            <!-- Login End -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
