<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10" >
            <div class="ui-block">
                <article class="profile">
                    <div class="user inline-items">

                        <!-- https://i.imgur.com/TRdKQjq.jpeg -->
                        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRionTtxUfdanGm9HhxO8Y81zfBuKeAiaDwrw&usqp=CAU" alt="author"> -->

                        <div *ngIf="user.imageUri">
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src={{user.imageUri}} alt="author">
                                </label>
                                <input id="file-input" type="file" (change)="onSelectFile($event)">
                            </div>
                        </div>

                        <div *ngIf="!user.imageUri">
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRionTtxUfdanGm9HhxO8Y81zfBuKeAiaDwrw&usqp=CAU" alt="author">
                                </label>
                                <input id="file-input" type="file" (change)="onSelectFile($event)">
                            </div>
                        </div>

                        <a class="h2 user">{{user.username}}</a>
                    </div>
                    <p>Email address: {{user.email}}</p>
                    <hr>
                    <p>aN uiodaiusdn iasdni uands aoisd adnui andn aisdn iuansd ias ads ioasmdim iasodmo asmdoa mdsoi amdo</p>
                    <br>
                    <p>Questions: 3</p>
                    <br>
                    <p>Answers: 4</p>
                    <br>
                    <p>Topics: 2</p>

                </article>
            </div>
        </div>
    </div>
</div>