<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10" >
            <div class="ui-block">
                <article class="profile">
                    <div class="user inline-items">

                        <!-- https://i.imgur.com/TRdKQjq.jpeg -->
                        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRionTtxUfdanGm9HhxO8Y81zfBuKeAiaDwrw&usqp=CAU" alt="author"> -->

                        <div class="image-upload">
                            <label for="file-input">

                                <!-- User profile image if exists -->
                                <div *ngIf="userResponse.imageUri">
                                    <img src={{userResponse.imageUri}} alt="author">
                                </div>
                                <!-- Default profile image -->
                                <div *ngIf="!userResponse.imageUri">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRionTtxUfdanGm9HhxO8Y81zfBuKeAiaDwrw&usqp=CAU" alt="author">
                                </div>
                                
                            </label>
                            <input id="file-input" type="file" (change)="onSelectFile($event)">
                        </div>

                        <a class="h2 user">{{userResponse.username}}</a>
                    </div>
                    <p>Email address: {{userResponse.email}}</p>
                    <hr>
                    <p>aN uiodaiusdn iasdni uands aoisd adnui andn aisdn iuansd ias ads ioasmdim iasodmo asmdoa mdsoi amdo</p>
                    <br>
                    <p>Questions: 3</p>
                    <br>
                    <p>Answers: 4</p>
                    <br>
                    <p>Topics: 2</p>

                </article>
            </div>
        </div>
    </div>
</div>