<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-10" >
            <div class="ui-block">
                <article class="profile">
                    <div class="user inline-items">
                        <!-- image -->
                        <div *ngIf="user.imageUri">
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src={{user.imageUri}} alt="author">
                                </label>
                                <input id="file-input" type="file" (change)="onSelectFile($event)">
                            </div>
                        </div>
                        <div *ngIf="!user.imageUri">
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRionTtxUfdanGm9HhxO8Y81zfBuKeAiaDwrw&usqp=CAU" alt="author">
                                </label>
                                <input id="file-input" type="file" (change)="onSelectFile($event)">
                            </div>
                        </div>
                        <!-- username -->
                        <a class="h2 user">{{user.username}}</a>
                    </div>
                    <!-- other info -->
                    <p>Email address: {{user.email}}</p>
                    <hr>
                    <br>
                    <p>You can change the profile picture by clicking on the current profile picture and selecting the file you want</p>
                </article>
            </div>
        </div>
    </div>
</div>